build/
xpacks/
compile_commands.json
package.json
.cache
subprojects/minhook
subprojects/packagecache
subprojects/tomlc99
subprojects/SDL2-2.26.5
subprojects/xxHash-0.8.2
subprojects/safetyhook
subprojects/zxing-cpp-2.2.1
subprojects/stb
dist.7z
.vscode